body {
    background-color: #BBBBBB;
}
textarea{
    width: 100%;
    border-radius: 16px;
    resize: none;
    margin: 0px 100px 0 0 ;
    border-color: #1875E8;
    font-size: 24px;
    font-style: normal;
}
#mensaje{
    width: 50%;
    background: none;
    margin: 0 50px;
    border-color: #000000
}
#hol{
    width: 30%;
    border-color: #000000;
    margin: 0px 0px 0 30px ;
}

.container__boton {
    border-radius: 16px;
    background: #CED4DA;
    padding: 12px 24px;
    width: 15%;
    font-size: 24px;
    border: none;
    margin: 5px 100px 10px 80px;
    transition: 1s  all;
    cursor: pointer;
}

.container__boton:disabled {
    background: #898989;
}
.container__botones {
    display: flex;
    gap: 2em;
}
.container__boton:hover{
    background: darkorange;
    transform: scale(1.1);
}
#Encriptar{
    background: #0A3871;
}
@media screen and (max-width:480px){
    #mensaje, #hol{
        width: auto;
        margin: 50px 50px 10px 50px;
    }
    .container__boton {
        border-radius: 16px;
        background: #CED4DA;
        padding: 20px 28px;
        width: auto;
        font-size: 24px;
        border: none;
        margin: 0px 10px 10px 10px;
        transition: 1s  all;
        cursor: pointer;
    }
}
